<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Collar Home</title>
    <link rel="stylesheet" href="/css/template.css"/>
</head>
<body>
    <h1>Welcome to the Smart Collar</h1>
    <nav>
        <ul>
            <li><a href="/gps">GPS Tracking</a></li>
            <li><a href="/audio">2-Way Audio</a></li>
            <li><a href="/video">Live Video Feed</a></li>
        </ul>
    </nav>
    <section id="our-mission">
        <h2>Our Mission:</h2>
        <p>To enhance rescue missions with cutting-edge technology, ensuring safety and 
        efficiency through real-time tracking, communication, and visualization.</p>
    </section>
    <section id="about-collar">
        <h2>About the Smart Rescue Collar:</h2>
        <p>In the vast and unpredictable wilderness, every second counts in a rescue operation. 
        The Smart Rescue Collar emerges as a beacon of hope and innovation, designed to bridge 
        the gap between technology and tenacity. Crafted with the noble purpose of saving lives, 
        our device is equipped with live GPS tracking, enabling rescuers to navigate through 
        challenging terrains by following the footsteps of their canine companions in real time. 
        The collar's integrated two-way audio communication system allows for immediate verbal 
        guidance or reassurance to those awaiting rescue, establishing a lifeline in moments of 
        despair. Furthermore, the collar's live video feed offers invaluable insights into the 
        on-site conditions, empowering rescue teams with the information needed to make informed 
        decisions swiftly. At the heart of our endeavor lies a commitment to harnessing the power 
        of technology to create a safer world.</p>
    </section>
    <section id="our-team">
        <h2>Our Team:</h2>
        <ul>
            <li><img src="https://media.licdn.com/dms/image/D4E03AQE7z-pJtK-Epw/profile-displayphoto-shrink_800_800/0/1700481128611?e=1717027200&v=beta&t=J76pw5lq_rwu1TVj5lYHqSjSBp9j3xzfpXOJFjLLrL4" alt="Sam Edgerton" style="width: 150px; height: 150px;">Sam Edgerton (2323050)</li>
            <li><img src="https://lh3.googleusercontent.com/a/ACg8ocIGHNvj0sp8VSCpyB1bxkrnxzDcRyReU8sWrggepqFb9cAPeZwO0J36oBCDMfWW6dJM_XN8C7c2MawDFHk9bBGd-g=s360-c-no" alt="Wei Lee" style="width: 150px; height: 150px;">Wei Lee (2631617)</li>
            <li><img src="https://media.licdn.com/dms/image/D4D03AQHgQxN6BMVwpA/profile-displayphoto-shrink_800_800/0/1698268601367?e=1717027200&v=beta&t=cYtmcDq3wWtT565PSrNAmrDNoDZSQ-0gUXFWvL0Z62Q" alt="Wasiq Islam" style="width: 150px; height: 150px;">Wasiq Islam (2324402)</li>
        </ul>
    </section>
</body>
</html>
